@import url("https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
header {
  img {
    height: 30vh;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  .back,
  .fas {
    font-size: 1.5rem;
  }
}
main {
  width: 60%;
  margin: auto;

  hr {
    border: none;
    height: 1px;
    /* Set the hr color */
    color: #333; /* old IE */
    background-color: #333; /* Modern Browsers */
  }
}
footer {
  height: 10vh;
  background: #b79393;
  font-size: 1.1rem;
  .flex-container {
    display: flex;
    justify-content: center;
    text-align: center;
    line-height: 8vh;
  }
}

.image {
  width: 60%;
  min-width: 200px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
blockquote {
  font-family: "Roboto Mono", monospace;
  width: 80%;
  border-left: 6px solid #515151;
  border-radius: 2px;
  h3 {
    font-family: initial;
  }
}

@media screen and (max-width: 745px) {
  main {
    width: 95%;
  }
  footer {
    font-size: 80%;
  }
}
